.gUZ {
  fill: currentColor;
  stroke-width: 0;
  vertical-align: middle;
}

.bgW {
  color: $color-fff;
}

.qJc {
  background-color: $color-fff;
}

.odN {
  color: $color-efefef;
}

.gpV {
  background-color: $color-efefef;
}

.Fkx {
  border-color: $color-efefef;
}

.B9u {
  color: $color-8e8e8e;
}

.gfP {
  background-color: $color-8e8e8e;
}

.pBj {
  color: $color-111;
}

.BsF {
  background-color: $color-111;
}

.content {
  padding-top: 65px;
}
